<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cctv3.server.mapper.ArticleMapper">
    <insert id="insertArticleOnly" parameterType="net.cctv3.server.entity.Article" useGeneratedKeys="true"
            keyProperty="id">
        insert into article
        (name, title, message, image, html, nLook, nLove, timeCreate, timeUpdate, deleted)
        values (#{name}, #{title}, #{message}, #{image}, #{html}, #{nLook}, #{nLove}, #{timeCreate}, #{timeUpdate},
                #{deleted})
    </insert>
    <select id="selectArticleByID" parameterType="int" resultType="net.cctv3.server.entity.Article">
        select *
        from article
        where id = #{id}
    </select>
    <update id="updateArticle" parameterType="net.cctv3.server.entity.Article">
        update article
        set name       = #{name},
            title      = #{title},
            message    = #{message},
            image      = #{image},
            html       = #{html},
            timeUpdate = #{timeUpdate}
        where id = #{id}
    </update>

    <!-- 归档的时候，按照添加时间倒序排列 -->
    <select id="selectArticlesGroupByMonth" parameterType="int"
            resultType="net.cctv3.server.entity.SelectArticleGroupByMonth">
        select a.id,
               a.name,
               a.title,
               a.message,
               date_format(a.timeCreate, '%Y-%m') as month,
            group_concat(b.title separator '::') as books, a.timeCreate as time
        from article a
            left join relationship r
        on r.article = a.id
            left join book b on b.id = r.book
        where a.deleted = #{deleted} and a.id > 10
        group by a.id
        order by a.timeCreate desc;
    </select>
    <select id="selectArticleMonths" parameterType="int" resultType="String">
        select date_format(timeCreate, '%Y-%m') time
        from article
        where deleted = #{deleted} and id > 10
        group by date_format(timeCreate, '%Y-%m')
        order by time desc;
    </select>

    <!-- 首页展示列表的时候，按照修改时间倒序排列 -->
    <select id="selectHomeArticles" parameterType="int" resultType="net.cctv3.server.entity.SelectHomeArticle">
        select a.id,
               a.name,
               a.image,
               a.title,
               a.message,
               a.html,
               a.nLook,
               a.nLove,
               a.timeCreate,
               a.timeUpdate,
               group_concat(b.title separator '::') as books
        from article a
                 left join relationship r on r.article = a.id
                 left join book b on b.id = r.book
        where a.deleted = #{deleted}
          and a.id > 10
        group by a.id
        order by a.timeUpdate desc
    </select>
</mapper>