<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cctv3.server.mapper.DiscussMapper">
    <insert id="insertDiscuss" parameterType="net.cctv3.server.entity.Discuss" useGeneratedKeys="true"
            keyProperty="id">
        insert into discuss
        (article, parent, qq, name, blog, ip, content, userAgent, time, deleted)
        values (#{article}, #{parent}, #{qq}, #{name}, #{blog}, #{ip}, #{content}, #{userAgent}, #{time}, #{deleted})
    </insert>
    <select id="findDiscussesByArticle" parameterType="int" resultType="net.cctv3.server.entity.Discuss">
        select *
        from discuss
        where article = #{article}
        order by time desc
    </select>
</mapper>